name: Build and Release Installer

on:
  release:
    types: [created]
  workflow_dispatch:
    inputs:
      build_type:
        description: "Build Type"
        required: true
        default: "release"
        type: choice
        options:
          - release
          - debug

jobs:
  build:
    runs-on: windows-latest

    permissions:
      contents: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11" # Adjust version as needed

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pyinstaller

      - name: Build Executable
        run: |
          python build.py

      - name: Compile Installer (Inno Setup)
        uses: Minionguyjpro/Inno-Setup-Action@v1.2.2
        with:
          path: setup.iss

      - name: Rename Installer
        run: |
          if (Test-Path RetrogamingToolkit_Setup.exe) {
              Move-Item RetrogamingToolkit_Setup.exe RetrogamingToolkit_Setup_${{ github.event.release.tag_name }}.exe
          }

      - name: Upload Release Asset
        if: github.event_name == 'release'
        uses: softprops/action-gh-release@v1
        with:
          files: |
            RetrogamingToolkit_Setup_*.exe
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Upload Artifact (for workflow_dispatch)
        if: github.event_name != 'release'
        uses: actions/upload-artifact@v4
        with:
          name: Installer
          path: RetrogamingToolkit_Setup.exe
