name: Build and Release Installer

on:
  push:
    branches: ["main"]
    tags:
      - "v*" # Trigger on version tags
  workflow_dispatch:
    inputs:
      build_type:
        description: "Build Type"
        required: true
        default: "release"
        type: choice
        options:
          - release
          - debug

jobs:
  build:
    runs-on: windows-latest

    permissions:
      contents: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11" # Adjust version as needed

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pyinstaller

      - name: Download VLC binaries
        run: |
          python download_vlc.py

      - name: Build Executable
        run: |
          python build.py

      - name: Compile Installer (Inno Setup)
        uses: Minionguyjpro/Inno-Setup-Action@v1.2.2
        with:
          path: setup.iss

      - name: Rename Installer
        if: startsWith(github.ref, 'refs/tags/')
        shell: pwsh
        run: |
          $TAG_NAME = $env:GITHUB_REF -replace "refs/tags/", ""
          if (Test-Path RetrogamingToolkit_Setup.exe) {
              Move-Item RetrogamingToolkit_Setup.exe RetrogamingToolkit_Setup_${TAG_NAME}.exe
          }

      - name: Upload Release Asset
        if: startsWith(github.ref, 'refs/tags/')
        uses: softprops/action-gh-release@v1
        with:
          files: |
            RetrogamingToolkit_Setup*.exe
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Upload Artifact (for workflow_dispatch or branch push)
        if: (!startsWith(github.ref, 'refs/tags/'))
        uses: actions/upload-artifact@v4
        with:
          name: Installer
          path: RetrogamingToolkit_Setup.exe
